<div class="navs-border wow fadeInLeft">
<%= link_to "Головна", root_path, {'data-turbolinks'=>"false"} %> --> Результат пошуку товара що доставляється
</div>
<div class="title wow fadeInDown">Результат пошуку:</div>
<% @delivery.each do |x|%>
<div class="content wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
  <div class="item">
    Номер товару:
    <%= x.number%>
  </div>
  <div class="item">
    Клієнт:
    <%=x.client%>
  </div>
  <div class="item">
    Ціна:
    <%= x.price %> грн.
  </div>
  <div class="item">
    Місцезнаходження:
    <%=x.where%>
  </div>
  <div class="item">
    Статус товару:
    <div id="status" data-whatever="<%=x.status.name%>">
    <%=x.status.name%>
    </div>
  </div>
  <div class="item">
    Приблизний час прибуття товару:
    <%=x.end.strftime("%d/%m/%Y %H:%M") %>
  </div>
</div>
<script>
$('#status').each(function(){
  var recipient = $('#status').data('whatever');
  if((recipient == "У роботі") || (recipient == "Прямує до магазину") || (recipient == "Знаходиться на складі")){
    $('#status').addClass('yell');
  }
  else if((recipient == "Зроблено") || (recipient == "Доставлено у магазин")){
    $('#status').addClass('green');
  }
  else{
    $('#status').addClass('gray');
  }
});
</script>
<% end%>
