<div class="navs-border">
<%= link_to "Головна", root_path %> --> Результат пошуку товара що доставляється
</div>

<% @delivery.each do |x|%>
<div class="content">
  <div class="item">
    Номер товару:
    <%= x.number%>
  </div>
  <div class="item">
    Клієнт:
    <%=x.client%>
  </div>
  <div class="item">
    Ціна:
    <%= x.price %>
  </div>
  <div class="item">
    Місцезнаходження:
    <%=x.where%>
  </div>
  <div class="item">
    Статус товару:
    <%=x.status.name%>
  </div>
  <div class="item">
    Приблизний час прибуття товару:
    <%=x.end.strftime("%d/%m/%Y %H:%M") %>
  </div>
</div>
<% end%>
