<header>
  <div class="info">
    <h2 class="title">Вітаємо Вас на нашому сайті</h5>
    <h5 class="subtitle">Тут Ви можете переглянути стан вашого замовлення/ремонту, натиснувши на посилання нижче:</h5>
    <div class="search">
        <%= search_form_for @a, url: repairs_path do |f| %>
          <%= f.search_field :number_eq, class:"input", placeholder: "Номер ремонту" %>
          <%= f.submit "Пошук", class:"btn"%>
        <% end %>
    </div>
    <div class="search">
        <%= search_form_for @b, url: deliveries_path do |f| %>
          <%= f.search_field :number_eq, class:"input", placeholder: "Номер доставки" %>
          <%= f.submit "Пошук", class:"btn"%>
        <% end %>
    </div>
  </div>
</header>
